* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: Arial;
}

h2{
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

body p {
  color: #dddddd;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  border : 1px solid #4b5362;
  padding : 20px;
  margin : 10px;
  background-color : #31363f;
  border-radius : 10px;
  min-height : 100px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}